<p id="notice"><%= notice %></p>

<div class="container">
    <% @concerts.each do |concert| %>
    <div class="row">
    <div class=" col-sm-2">
    </div>
    <div class="concert col-sm-8">
      <div class="image">
	<img src="http://staticmap.openstreetmap.de/staticmap.php?center=<%= concert.position.split(',')[0].gsub('(','') %>,<%= concert.position.split(',')[1].gsub(')','') %>&zoom=17&size=300x300&maptype=mapnik" />
      </div>
      <div class="concert-info">
	<div class="concert-location">
	  <% if params[:band_id] == "0" %>
	  <h1><%= link_to concert.band.name, concert.band %> | <%= concert.location %></h1>
	  <% else %>
	  <h1><%= concert.location %></h1>
	  <% end %>
	</div>
	<hr>
	<div class="description">
	  Go to this concert! It will be fantastic!
	</div>
	<div class="link">
	  
	</div>
      </div>
    </div>
    
    <div class=" col-sm-2">
    </div>
    </div>
    <% end %>
</div>


